body{
    margin: 0;
}
h2{

}
img{
    border-image: none;
    top: 0;
    left: 0;
    object-fit: cover;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexbox > div{
    display: flex;
    

    gap: 10px;
}
.separacion{
    padding-left: 120px;
}