img{
    object-fit: cover;
}
.img_encabezado{
    width: 100%;
    height: 100px;
}
.img_logo{
    width: 80px;
    height: 80px;
}
.flexbox_nav{
    display: flex;
    align-content: space-between;
}
.flexbox_nav > div{
    display: flex;
    align-content: space-between;
}
.menu{
    float: right;
    padding: 5px;
    font-size: 15px;
}
.borde_negro{
    border: solid 1px black;
}
.borde_left{
    border-left: solid 1px black;
}
.borde_right{
    border-right: solid 1px black;
}
.margen_60{
    margin: 60px;
}
.flexbox_ofertas{
    display: flex;
    border: solid 1px black;
    margin: 60px;
    justify-content: center;
    padding-top: 40px;
    background-image: url("assets/fondo.jpeg");
    background-size: cover;
    opacity: 0.85;
}
.flexbox_ofertas > h2{
    font-size: 20px;
    display: flex;
    border: solid 1px black;
    padding: 5px;
    background-color: black;
    color: white;
}
.flexbox_tabla{
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}
.flexbox_tabla > div{
    display: flex;
    object-fit: cover;
    border: solid 1px black;
    padding: 5px;
}
.img_carta{
    width: 80px;
    height: 40px;
}
.flexbox_carta{
    display: flex;
    flex-direction: column; 
    width: 70px;
}
.flexbox_carta > h2{
    display: flex;
    font-size: 10px;
    justify-content: center;
}
.flexbox_carta > h3{
    display: flex;
    font-size: 9px;
    justify-content: center;
}
.flexbox_carta > h4{
    display: flex;
    font-size: 8px;
    justify-content: center;
}